{% extends 'base.html.twig' %}
{% block title %}Admin | Commentaire{% endblock %}

{% block body %}
    <div class="mx-5">
    <h1 class="text-center mt-4 mb-5 text-white">Détail du commentaire</h1>

    <table class="table table-striped table-dark text-white text-center align-middle border border-white">
        <thead>
            <tr>
                <th class="border border-white">Id</th>
                <th class="border border-white">Titre de l'article</th>
                <th class="border border-white">Voir l'article</th>
                <th class="border border-white">Auteur</th>
                <th class="border border-white">Voir l'auteur</th>
                <th class="border border-white">Contenu</th>
                <th class="border border-white">Créé le</th>
                <th class="border border-white">Modifié le</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-white">{{ comment.id }}</td>
                <td class="border border-white">{{ comment.review.title }}</td>
                <td class="border border-white"><a href="{{ path('app_back_review_show', {'id': comment.review.id}) }}" class="btn btn-secondary fa fa-search-plus" role="button"></a></td>
                <td class="border border-white">{{ comment.user.nickname }}</td>
                <td class="border border-white"><a href="{{ path('app_back_user_show', {'id': comment.user.id}) }}" class="btn btn-secondary fa fa-search-plus" role="button"></a></td>
                <td class="border border-white">{{ comment.content }}</td>
                <td class="border border-white">{{ comment.createdAt ? comment.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td class="border border-white">{{ comment.updatedAt ? comment.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
    </table>
    <div class ="d-flex justify-content-center gap-3">
        <a href="{{ path('app_back_comment_edit', {'id': comment.id}) }}" class="btn btn-warning mt-1 col-1">Modifier</a>
        {{ include('back/comment/_delete_form_show.html.twig') }}
        <a href="{{ path('app_back_comment_index') }}" class="btn btn-secondary mt-1 col-1" role="button">Retour à la liste</a>
    </div>
{% endblock %}
